.bg-primary {
  background-color: #008080;
}

.bg-primary-light {
  background-color: #03dcdc21;
}
.bg-secondary {
  background-color: #46AEAE;
}
.text-primary {
  color: #008080;
}

.border-primary {
  border-color: #008080;
}

.dashboard-right {
  width: calc(100vw - 17rem);
}

.chevron-open {
  transition-property: all;
  transform: rotate(0deg);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.chevron-close {
  transition-property: all;
  transform: rotate(180deg);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.number::-webkit-inner-spin-button,
.number::-webkit-outer-spin-button {
  opacity: 1;
}

label {
  display: flex;
  padding: 2px 0;
  cursor: pointer;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
}

.value {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 40px;
  border-radius: 20px;
  overflow: hidden;
}

.value:hover {
  background: rgba(0, 128, 128, 0.1);
}

.value::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline-offset: 3px;
  outline: 2px solid #008080;
}

.value::after {
  content: "";
  position: absolute;
  left: 15px;
  top: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

input[type="radio"]:checked ~ .value {
  color: #008080;
  background: rgba(0, 128, 128, 0.2);
}
input[type="radio"]:checked ~ .value::after {
  top: 12px;
  background: #008080;
}

.toastui-calendar-template-time {
  display: flex;
  flex-wrap: wrap;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.information-page h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
  font-weight: 600;
}
.information-page h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 600;
}
.information-page h3 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 600;
}
.information-page h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 600;
}
.information-page h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
}
.information-page h6 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
}

.information-page a {
  color: #008080;
  text-decoration: underline;
}

.information-page a:hover {
  color: #008080;
  font-weight: 500;
}
